/*Master style sheet for Cancer Detection Page*/

body {
	height: auto;
	width: auto;
	background-color: #8d9093;
	font-family: Arial, Helvetica, sans-serif;
}

/*Master style sheet for Cancer Detection Page*/

body {
	height: auto;
	width: auto;
	background-color: #eee;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
}

#main {
	margin-left: 200px; /* Same as the width of the sidenav */
	padding: 0px 00px;
}
/*******************Top Of Page**************************/
.container {
	width: 1400px;
	max-width:90%;
	background-color: #fff;
	padding: 35px;
}

.wrapper-top {
	display: flex;
	padding: 0px;
	align-items: center;
	background-color: #fff;
	border-radius: 0px;
	margin-bottom: 40px;
}

.wrapper-top-left-logo {
	float: left;
}
.wrapper-top-left-main-name {
	margin-right: 125px;
	font-size: 40px;
	font-weight: bold;
}

.wrapper-left {
	display:block;
	margin-left: 40px;
}
.wrapper-top-left-lower-name{
}

.welcome-container {
	float: right;
	margin-left: 50px;
	margin-top: 45px;
}

/*****************NAVIGATION BAR STYLING*****************/
/*Controls the navbar. */
.navbar {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #00214d;
  overflow-x: hidden;
  padding-top: 15px;
}

.navbar a{
  padding: 0px 18px 15px 16px;
  text-decoration: none;
  font-size: 17px;
  color: #333;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
  
}
.dropdown-button{
	padding: 10px 18px 10px 16px;
	text-decoration: none;
	font-size: 22px;
	color: #ccc;
	display: block;
	border: none;
	background: none;
	width: 100%;
	text-align: left;
  `	cursor: pointer;
	outline: none;
}
/* On mouse-over */
.navbar a:hover, .dropdown-button:hover {
  /*font-weight: bold;*/
  opacity: 1.0;
}

.dropdown-button:hover{
	color: #fff;
}
.navbar a:hover {
	color: #000;
}
.fa-caret-down {
  float: right;
}


.dropdown-container {
	display: none;
	background-color: #C0C0C0;
	padding-left: 8px;
	padding-top: 20px;
	font-size: 5px;

}

.logout-container a{
	padding: 10px 18px 10px 16px;
	text-decoration: none;
	font-size: 20px;
	color: #ccc;
	display: block;
	border: none;
	background: none;
	width: 100%;
	text-align: left;
  `	cursor: pointer;
	outline: none;
	margin-top: 200px;
	position: absolute;
	bottom:35px;
}


@media screen and (max-height: 450px) {
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
}

/**************************DISPLAY LIST STYLING******************************/
.display-list {
	background-color: white;
	border-radius: 0px;
	height: 100%;
	width: 100%;
	border: none;
}

.box > * {
	margin-bottom: 20px;
}
#output {
	margin-top: -10px;
}
.box-header {

}

.box-title {

}

.box-body{
	text-align: left;
}

table > * {
	height: 30px;
}

th {
	padding-right: 30px;
}
td {
	padding-right: 30px;
}
/*****************************LOGIN PAGE*************************************/
input[type=text], input[type=password] {
	
}
}

button {
	background-color: #C0C0C0;
	color: white;
	padding: 14px 20px;
	margin-left: 30%;
	border: none;
	cursor: pointer;
	width: 40%;
}

button:hover {
	opacity: 0.8;
}
.container-login {
	padding: 24px;
}
.image-container {
	text-align: center;
	margin: 24px 0 12px 0;
}
/***********************User Display******************************/
.single-patient{
	position: relative;
	height: 80%;
}

.patient-element {
	width: 50%;
	display: flex;
}

.action-menu {
	margin-top: 50px;
}
.form-group {
	margin-bottom: 0px;
}
.form-group label {
	margin-bottom: 20px;
	display: inline-block;
}
.form-element {
	display: flex;
	width: 50%;
}

.form-note {
	width: 50%;
	height: 25%;
}

.image-note{
	width: 40%;
}

.patient-images {
	width: auto;
	position: relative;
	display: flex;
}

.patient-image-information {
	display: block;
	width: 50%;

}
